In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [33]:
df = pd.read_csv("data/incorp_table_full.csv")

In [34]:
pd.set_option('display.float_format', '{:.2E}'.format)

In [35]:
df.head()

,Day,OTU,Phylum,Class,Order,Family,Genus,Species,Rel.Ab.
0,7,OTU.3,Ascomycota,Sordariomycetes,Xylariales,Incertae sedis,Monographella,Monographella cucumerina,1.40E-01
1,14,OTU.3,Ascomycota,Sordariomycetes,Xylariales,Incertae sedis,Monographella,Monographella cucumerina,1.40E-01
2,30,OTU.3,Ascomycota,Sordariomycetes,Xylariales,Incertae sedis,Monographella,Monographella cucumerina,1.40E-01
3,3,OTU.6,Zygomycota,Incertae sedis,Mortierellales,Mortierellaceae,Mortierella,NaN,5.62E-02
4,7,OTU.16,Ascomycota,Sordariomycetes,Hypocreales,Nectriaceae,Fusarium,NaN,4.44E-02

In [36]:
lat = pd.DataFrame.to_latex(df, longtable = True, index = False)

In [37]:
my_file = open('data/figs/OTU_Responders.tex', 'w')
my_file.write(lat)
my_file.close()

In [41]:
df.columns = [c.replace('.', '') for c in df.columns]

In [42]:
df.head()

,Day,OTU,Phylum,Class,Order,Family,Genus,Species,RelAb
0,7,OTU.3,Ascomycota,Sordariomycetes,Xylariales,Incertae sedis,Monographella,Monographella cucumerina,1.40E-01
1,14,OTU.3,Ascomycota,Sordariomycetes,Xylariales,Incertae sedis,Monographella,Monographella cucumerina,1.40E-01
2,30,OTU.3,Ascomycota,Sordariomycetes,Xylariales,Incertae sedis,Monographella,Monographella cucumerina,1.40E-01
3,3,OTU.6,Zygomycota,Incertae sedis,Mortierellales,Mortierellaceae,Mortierella,NaN,5.62E-02
4,7,OTU.16,Ascomycota,Sordariomycetes,Hypocreales,Nectriaceae,Fusarium,NaN,4.44E-02

In [43]:
df.topinc = df[df.RelAb > 0.0054]

df.topinc

,Day,OTU,Phylum,Class,Order,Family,Genus,Species,RelAb
0,7,OTU.3,Ascomycota,Sordariomycetes,Xylariales,Incertae sedis,Monographella,Monographella cucumerina,1.40E-01
1,14,OTU.3,Ascomycota,Sordariomycetes,Xylariales,Incertae sedis,Monographella,Monographella cucumerina,1.40E-01
2,30,OTU.3,Ascomycota,Sordariomycetes,Xylariales,Incertae sedis,Monographella,Monographella cucumerina,1.40E-01
3,3,OTU.6,Zygomycota,Incertae sedis,Mortierellales,Mortierellaceae,Mortierella,NaN,5.62E-02
4,7,OTU.16,Ascomycota,Sordariomycetes,Hypocreales,Nectriaceae,Fusarium,NaN,4.44E-02
5,3,OTU.16,Ascomycota,Sordariomycetes,Hypocreales,Nectriaceae,Fusarium,NaN,4.44E-02
6,7,OTU.2,Ascomycota,Sordariomycetes,Sordariales,unidentified,unidentified,Sordariales sp,3.94E-02
7,14,OTU.2,Ascomycota,Sordariomycetes,Sordariales,unidentified,unidentified,Sordariales sp,3.94E-02
8,30,OTU.2,Ascomycota,Sordariomycetes,Sordariales,unidentified,unidentified,Sordariales sp,3.94E-02
9,3,OTU.2,Ascomycota,Sordariomycetes,Sordariales,unidentified,unidentified,Sordariales sp,3.94E-02
10,7,OTU.7,Ascomycota,NaN,NaN,NaN,NaN,NaN,1.65E-02
11,14,OTU.7,Ascomycota,NaN,NaN,NaN,NaN,NaN,1.65E-02
12,3,OTU.7,Ascomycota,NaN,NaN,NaN,NaN,NaN,1.65E-02
13,3,OTU.60,Ascomycota,Sordariomycetes,Incertae sedis,Incertae sedis,Myrmecridium,NaN,1.28E-02
14,7,OTU.10238,Ascomycota,Sordariomycetes,unidentified,unidentified,unidentified,Sordariomycetes sp,8.75E-03
15,3,OTU.14,Zygomycota,Incertae sedis,Mortierellales,NaN,NaN,NaN,6.33E-03
16,3,OTU.23,Zygomycota,Incertae sedis,Mortierellales,Mortierellaceae,Mortierella,NaN,6.03E-03
17,14,OTU.73,Ascomycota,Sordariomycetes,Hypocreales,unidentified,unidentified,Hypocreales sp,5.45E-03

In [44]:
lat2 = pd.DataFrame.to_latex(df.topinc, longtable = True, index = False)

In [45]:
my_file = open('data/figs/OTU_Responders_topten.tex', 'w')
my_file.write(lat2)
my_file.close()